# Data Collections

- Lists
- Tuples
- Dicctionaries
- Sets

### Lists

- are mutables
- They can contain any type of data
- They are defined with square brackets **[ ]**

```
list1 = [1,2,3]
list2 = ["Hello",True]
```

In [2]:
list1 = [1,2,3,5]
list2 = ["Hello",True,list1]
print(list2)

['Hello', True, [1, 2, 3, 5]]

In [3]:
list2.append("Hello")

In [4]:
print(list2)

['Hello', True, [1, 2, 3, 5], 'Hello']

In [5]:
dir(list2)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Indexation (positive)

The index of the arrays is initialized to _0_
```
Array :  [1,2,3,4]
          ? ? ? ?
Index :   0 1 2 3
```

In [8]:
print(list2[0])
print(list2[1])
print(list2[2][0])

Hola
True
1

### Indexation (negative)

The index of the arrays ends in _-1_
```
Array :  [1, 2, 3, 4]
          ?  ?  ?  ?
Index :  -4 -3 -2 -1
```

In [6]:
print(list2[-1])
print(list2[-2][-1])
print(list2[-3])

Hello
5
True

In [7]:
len(list1)

4

In [8]:
list1[4]

IndexError: list index out of range

### Slicing 

- It is the way we use to obtain a section of the array

$ array[start: end + 1: step] $ \
$ start=0(default) $ \
$ step=1(default) $ \

```
Array :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          ?  ?  ?  ?  ?  ?  ?  ?  ?  ?
Index :   0  1  2  3  4  5  6  7  8   9
```

In [9]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[0:3])
print(list1[2:6])
print(list1[7:10])

[1, 2, 3]
[3, 4, 5, 6]
[8, 9, 10]

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[:3:2])
print(list1[2:6:3])

[1, 3]
[3, 6]

```
Array :  [1,  2,  3,  4,  5,  6,  7,  8,  9,  10]
          ?   ?   ?   ?   ?   ?   ?   ?   ?   ?
Index :  -10 -9  -8  -7  -6  -5   -4  -3  -2  -1
```

In [11]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[-3:])
print(list1[-8:-4])

[8, 9, 10]
[3, 4, 5, 6]

In [12]:
print(type(list1))

<class 'list'>

In [13]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Lists are passed by reference

- **Pass by value:** A local copy of the variable is created within the function.
- **Pass by reference:** The variable is handled directly, changes made within the function will also affect it outside.

Traditionally:
- **Simple types are passed by value:** Integers, floats, strings, logical...
- **Composite types are passed by reference:** Lists, dictionaries, sets...

In [14]:
list2 = [1,2,3,4,5]
list3 = list2
print(list2, list3, sep = " ; ")
list3.append("number one")
print(list2, list3, sep = " ; ")

[1, 2, 3, 4, 5] ; [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'number one'] ; [1, 2, 3, 4, 5, 'number one']

In [16]:
print(id(list2))
print(id(list3))

1585456381248
1585456381248

In [17]:
list2 = [1,2,3,4,5]
list3 = list2.copy()
print(list2, list3, sep = " ; ")
list3.append("numero uno")
print(list2, list3, sep = " ; ")

[1, 2, 3, 4, 5] ; [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] ; [1, 2, 3, 4, 5, 'numero uno']

In [18]:
list3[-1] = "last value"
print(list3)

[1, 2, 3, 4, 5, 'last value']

In [19]:
list4 = [1,3,5,7,9,2,4,6,8]
list4.sort()
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list4.reverse()
print(list4)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Tuples

- They are immutable
- Can contain any type of data
- They are defined with parentheses **( )**
- Like lists, it supports _slicing_ and _positive and negative indexing_

In [21]:
tupl1 = (1,2,3,4,"String1","String2", [1,2,3,4])
print(tupl1)

(1, 2, 3, 4, 'String1', 'String2', [1, 2, 3, 4])

In [22]:
tupl1[-1][2]

3

### Dictionaries

- It is built with the format _Key:Value (Hashmap)_
- They are defined with braces **{ }**
- The _Value_ is accessed through the _Key_
- The _Key_ can be an integer or a text string
- The _Value_ can be any python data type

In [23]:
dict1 = {"key" : "value"}
print(dict1["key"])

value

In [24]:
dict2 = {"name" : "Peter"}
print(dict2["name"])

Peter

In [25]:
dict3 = {
    "name" : "Peter",
    "age" : 30,
    "area" : "Optimization"
}
print(dict3["name"])
print(dict3["area"])

Peter
Optimization

In [26]:
dict3 = {
    "name" : "Peter",
    "age" : 30,
    "area" : "Optimization",
    "info" : {
        "projects" : [
            "project1",
            "project2"
            ]
    }
}
print(dict3["name"])
print(dict3["info"])
print(dict3["info"]["projects"])
print(dict3["info"]["projects"][0])

Peter
{'projects': ['project1', 'project2']}
['project1', 'project2']
project1

In [27]:
dict3.keys()

dict_keys(['name', 'age', 'area', 'info'])

In [72]:
dict3.values()

dict_values(['Peter', 30, 'Optimizacion', {'projects': ['project1', 'project2']}])

In [73]:
dict3.items()

dict_items([('name', 'Peter'), ('age', 30), ('area', 'Optimizacion'), ('info', {'projects': ['project1', 'project2']})])

In [29]:
dict3['jobstage']

KeyError: 'jobstage'

In [30]:
dict3.get('jobstage','missing value')

'missing value'

### Sets

- They are mutables
- They are defined with braces **{ }**
- Does not support duplicate values
- Does not support indexing

In [31]:
set1 = {1,2,3,4,5,6,6,6,6,6,6}
print(set1)
set2 = {2,4,6,8,10}
print(set2)

{1, 2, 3, 4, 5, 6}
{2, 4, 6, 8, 10}

In [32]:
print(set1.intersection(set2))

{2, 4, 6}

In [33]:
print(set1 - set2)

{1, 3, 5}

In [34]:
print(set2 - set1)

{8, 10}

In [54]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 8, 10}

In [35]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
list1  + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [37]:
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [38]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
list(set1)

[1, 2, 3, 4, 5, 6]

In [40]:
tuple(set1)

(1, 2, 3, 4, 5, 6)

In [41]:
list(set(list1  + list2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
dict([("a",1),("b",1)])

{'a': 1, 'b': 1}

### Text strings as array

- Text strings can be treated as indexed arrays

In [43]:
string1 = "Hello World!"
print(string1[-1])
print(string1[3])

!
l

In [44]:
list(string1)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [45]:
tuple(string1)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [46]:
string1.split(" ")

['Hello', 'World!']

In [47]:
list5 = ['1','2','3','4','5','6','7','8','9']
",".join(list5)

'1,2,3,4,5,6,7,8,9'

# Condicionales

```
1)
if (expression):
    run_code...

2)
if (expression):
    run_code...
else:
    run_default_code...

3)
if (expression):
    run_code1...
elif (expression):
    run_code2...
elif (expression):
    run_code3...
else:
    rund_default_code...
```

In [50]:
number = 20
if number > 5:
  print("Greather than 5")
else:
  print("Less than 5")

Greather than 5

In [ ]:
age = int(input("Age: "))
if (age > 18 and age <= 65):
  print("Condition1")
elif (age > 65 and age <= 100):
  print("Condition2")
else:
  print("Condition3")

### "In" statement

- It is used to check if an element is inside an array

In [51]:
names = ["Juan","peter","Jorge"]
'Juan' in names

True

In [52]:
db = ["Juan","peter","Jorge"]
name = input("Enter your name: ")
if name in db:
  print("Access granted")
else:
  print("Access denied")

Access granted